<div id="data-holder">
    <textarea id="jsonData">

    </textarea>
</div>
<script type="text/javascript">
    $(document).ready(function(){
        $.ajax({
            url: '/person',
            success: function(data){
                $('#jsonData').text(JSON.stringify(data));
                console.log(data);
            }
        })
    });
</script>